table{
    background-color: lightyellow;
    border: 2px solid black;
    margin: auto;

}

td{
    border: 1px solid black;
}

.btnInserir{
    background-color: blue;
    color: white;
    width: 100px;
    height: 40px;
    margin-left: 45.5%;
}

.btnInserir:hover{
    background-color: rgba(0, 0, 255, 0.531);
}

form{
    width:300px;
    margin-left:38.4%;
    border: 2px solid black;
}

label{
    margin-left: 10px;
}

input{
    margin-left: 10px;
}

